name: Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  test:
    name: Test on Java ${{ matrix.java }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 8, 9.0.x, 10, 11.0.x, 12, 13 ]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Java version ${{ matrix.java }}
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}

    - uses: actions/cache@v2
      with:
        path: /home/runner/.m2/
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-
    - name: Install swagger jar
      run: mvn install:install-file -Dfile="./lib/swagger-java-client-1.0.0.jar" -DgroupId="io.swagger" -DartifactId="swagger-java-client" -Dversion="1.0.0" -Dpackaging="jar" -DgeneratePom="true"
    - name: Build project
      run: mvn -B clean install
